<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head> -->
<%-includes("includes/head.ejs")%>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, magnam laboriosam tenetur adipisci itaque quos nesciunt minima iure beatae. Voluptatum delectus corrupti, ut omnis obcaecati laboriosam. Nobis atque exercitationem </p>
    <button>click me</button>

    <!-- ejs tag(example) which make the html dynamic -->
<h3><%= 1+2%></h3>
<h3><%="apnacollege".toUpperCase()%></h3>
</body>
</html>